<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mdroid.lib.core">

  <application
      android:allowBackup="false"
      android:label="@string/app_name"
      android:supportsRtl="true"
      tools:replace="android:allowBackup"
      >
    <activity
        android:name="com.mdroid.lib.core.base.CommonActivity"
        android:configChanges="keyboard|keyboardHidden|locale|mcc|mnc|orientation|screenSize|screenLayout"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"
        />
    <activity
        android:name="com.mdroid.lib.core.base.FullScreenActivity"
        android:configChanges="keyboard|keyboardHidden|locale|mcc|mnc|orientation|screenSize|screenLayout"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <activity
        android:name="com.mdroid.lib.core.base.DialogActivity"
        android:configChanges="keyboard|keyboardHidden|locale|mcc|mnc|orientation|screenSize|screenLayout"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.Dialog"/>
  </application>
</manifest>
